In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("../data/dailymail_london.csv")

In [7]:
df

,Rank,Date,Link,Title,Labels,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,122.0,06/06/2008,https://www.dailymail.co.uk/news/article-10245...,Olympic promise of free swimming lessons by 2012,Positive,NaN,NaN,NaN,NaN,NaN,NaN
1,57.0,18/07/2008,https://www.dailymail.co.uk/news/article-10363...,"Abandoned, derelict, covered in graffiti and r...",Negative,NaN,NaN,NaN,NaN,NaN,NaN
2,108.0,24/08/2008,https://www.dailymail.co.uk/news/article-10486...,The countdown to London 2012 begins as thousan...,Positive,NaN,NaN,NaN,NaN,NaN,NaN
3,86.0,26/08/2008,https://www.dailymail.co.uk/news/article-10492...,Boris Johnson promises 'tens of millions' to r...,Positive,NaN,NaN,NaN,NaN,NaN,NaN
4,143.0,05/09/2008,https://www.dailymail.co.uk/sport/football/art...,Spurs and West Ham bid for new homes as 2012 v...,Positive,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN